<div class="accept-invitation-page" ng-cloak>
  <div class="content-container">
    <div class="logo-container">
      <div class="logo"></div>
    </div>
    <div class="content">
      <div ng-show="!isValid">
        <div class="error_section" >
          <div class="text-center title_error"><span translate="ACCEPT_INVITATION.ERROR_TITLE"></span></div>
          <div class="edit_field error_msg">{{errorMsg}}</div>
          <div class="text-center">
            <button class="btn btn-default" translate="COMMON.CLOSE" ng-click="back()"></button>
          </div>
        </div>
      </div>
      <div ng-show="isValid">
        <div class="title"><span translate="COMMON.SETTING_PASSWORD"></span></div>
        <form class="edit_field" name="acceptForm" novalidate>
          <div class="form-horizontal">
            <div class="form-group">

              <div class="col-xs-6">
                <input type="password" class="form-control" name="password" ng-model="password" placeholder="至少8位,且必须包含大小写字母和数字" required>
              </div>
              <div class="col-xs-6" style="color: #cc3300;" ng-if="pwdMsgTip">{{pwdMsgTip}}</div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <input type="password" class="form-control" name="confirmPassword" ng-model="confirmPassword" placeholder="确认密码" required>
              </div>
              <div class="col-xs-6" style="color: #cc3300;" ng-if="pwdConfirmMsgTip">{{pwdConfirmMsgTip}}</div>
            </div>
          </div>
          <div>
            <div class="button-group">
              <button type="button" class="btn btn-primary navbar-btn" translate="COMMON.OK" ng-click='updatePsw(acceptForm)'></button>
              <button type="button" class="btn btn-default navbar-btn" translate="COMMON.CANCEL" ng-click='cancel(acceptForm)'></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
