<div class="reset-password-page" ng-cloak>
  <form name="passwordForm" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong translate="ACCOUNT.RESET_PASSWORD"></strong>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-xs-3 control-label">新密码</label>
            <div class="col-xs-6">
              <input type="password" class="form-control" name="password" placeholder="请输入新密码，新密码至少8位且必须包含一个大小字母和数字" ng-model="password" required>
            </div>
            <!--<div class="col-xs-3 error-message" ng-messages="passwordForm.password.$untouched || passwordForm.password.$error"-->
                 <!--ng-messages-include="views/_form_error_messages.html">-->
            <!--</div>-->
              <div class="col-xs-3" style="color: #cc3300;" ng-if="pwdMsgTip">{{pwdMsgTip}}</div>
          </div>
        </div>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-xs-3 control-label">确认新密码</label>
            <div class="col-xs-6">
              <input type="password" class="form-control" name="passwordConfirm" placeholder="请输入确认密码" ng-model="passwordConfirm" required>
            </div>
            <!--<div class="col-xs-3 error-message" ng-messages="passwordForm.passwordConfirm.$untouched || passwordForm.passwordConfirm.$error"-->
                 <!--ng-messages-include="views/_form_error_messages.html">-->
            <!--</div>-->
            <div class="col-xs-3" style="color: #cc3300;" ng-if="pwdConfirmMsgTip">{{pwdConfirmMsgTip}}</div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button type="button" class="btn btn-default navbar-btn" translate="COMMON.OK" ng-click='resetPsw(passwordForm)'></button>
        <button type="button" class="btn btn-default navbar-btn" translate="COMMON.CANCEL" ng-click='cancel(passwordForm)'></button>
      </div>
    </div>
  </form>
</div>
