extends ../includes/layout-single

block form-css
  //-<!--  build:css({.tmp,client}) /styles/reset-password.css -->
  link(rel='stylesheet', href='/styles/login.css')
  //-<!-- endbuild -->

block main-content
  script(type='text/javascript').
    window.location.hash = '';
  base(href="/reset-password/")
  .passwordBox.animated.fadeInDown(ng-controller='ResetPasswordCtrl', ng-cloak)
    .row
      .col-md-12
        .ibox-content
          h2.font-bold 重置密码
          .row
            .col-lg-12
              .form-group.alert.alert-danger(ng-show="errorMessage") {{errorMessage}}
              form.m-t(role='form', name='passwordForm', novalidate)
                .form-group
                  label.form-label 新密码
                  input.form-control(type='password', placeholder='请输入新密码，新密码至少8位且必须包含一个大小字母和数字', ng-model="password", validatePassword, ng-model-options="{ updateOn: 'blur' }", required='')
                  .warning.error-message(ng-if='pwdMsgTip') {{pwdMsgTip}}
                .form-group
                  label.from-label 确认新密码
                  input.form-control(type='password', placeholder='请输入确认密码', ng-model="passwordConfirm", validatePassword, ng-model-options="{ updateOn: 'blur' }", required='')
                  .warning.error-message(ng-if='pwdConfirmMsgTip') {{pwdConfirmMsgTip}}
                button.btn.btn-primary.block.full-width.m-b(type='submit',ng-click='resetPsw(passwordForm)',single-click) 确定
                a.btn.btn-sm.btn-white.btn-block(href='login') 取消
    hr
    .row
      .col-md-6
        |  Copyright 有序科技 © 2014-2015 All Rights Reserved
      .col-md-6.text-right
        small 京ICP备 15043499号

block scripts
  //-<!-- build:js({.tmp,client}) /scripts/reset-password.js -->
  script(src='/scripts/external-app.js')
  script(src='/scripts/constants.js')
  script(src='/scripts/httpInterceptor-new.js')
  script(src='/scripts/services/apiService-external.js')
  script(src='/scripts/services/storageService.js')
  script(src='/scripts/services/utilityService.js')
  script(src='/scripts/services/configService.js')
  script(src='/scripts/directives/single-click.js')
  script(src='/scripts/directives/formValidation.js')
  script(src='/scripts/controllers/external/reset-password.js')
  //-<!-- endbuild -->
