extends ../includes/layout

block main-content
  #body(ui-view, ng-cloak)
  include ../includes/footer

block ng-include

block scripts
  //-<!-- build:js({.tmp,client}) /scripts/app.js -->
  script(src='/scripts/app.js')
  script(src='/scripts/constants.js')
  script(src='/scripts/httpInterceptor.js')
  script(src='/scripts/routes-new.js')
  script(src='/scripts/translate.js')
  //-<!-- endbuild -->
  //-<!-- build:js({.tmp,client}) /scripts/services.js -->
  script(src='/scripts/services/apiService.js')
  script(src='/scripts/services/authorityService.js')
  script(src='/scripts/services/enumParseService.js')
  script(src='/scripts/services/mockAPIService.js')
  script(src='/scripts/services/modalBoxService.js')
  script(src='/scripts/services/storageService.js')
  script(src='/scripts/services/translateService.js')
  script(src='/scripts/services/utilityService.js')
  script(src='/scripts/services/widgetService.js')
  script(src='/scripts/services/defaultI18nService.js')
  script(src='/scripts/services/configService.js')
  //-<!-- endbuild -->
  //-<!-- build:js({.tmp,client}) /scripts/directives.js -->
  script(src='/scripts/directives/di_list_selection/script.js')
  script(src='/scripts/directives/di_select/script-new.js')
  script(src='/scripts/directives/di_pagination/script.js')
  script(src='/scripts/directives/di_checkbox_group/script.js')
  script(src='/scripts/directives/di_dropmenu/script.js')
  script(src='/scripts/directives/di_breadcrumb/script.js')
  script(src='/scripts/directives/di_onoff/script.js')
  script(src='/scripts/directives/di_switch/script.js')
  script(src='/scripts/directives/di_minimalizeSidebar/script.js')
  script(src='/scripts/directives/di_sideNavigation/script.js')
  script(src='/scripts/directives/di_echarts/script.js')
  script(src='/scripts/directives/di_guide/script.js')
  script(src='/scripts/directives/formValidation.js')
  script(src='/scripts/directives/single-click.js')
  script(src='/scripts/directives/repeat-done.js')
  //-<!-- endbuild -->
  //-<!-- build:js({.tmp,client}) /scripts/filters.js -->
  script(src='/scripts/filters/enumParse.js')
  script(src='/scripts/filters/highlight.js')
  script(src='/scripts/filters/accountVoucherNumberformat.js')
  script(src='/scripts/filters/propsFilter.js')
  //-<!-- endbuild -->
  //-<!-- build:js({.tmp,client}) /scripts/controllers.js -->
  script(src='/scripts/controllers/left-nav.js')
  script(src='/scripts/controllers/top-nav.js')
  script(src='/scripts/controllers/error.js')
  script(src='/scripts/controllers/home.js')
  script(src='/scripts/controllers/account/account_setting.js')
  script(src='/scripts/controllers/account/profile.js')
  script(src='/scripts/controllers/basic_setting/service-category.js')
  script(src='/scripts/controllers/basic_setting/account_list.js')
  script(src='/scripts/controllers/basic_setting/company.js')
  script(src='/scripts/controllers/basic_setting/department.js')
  script(src='/scripts/controllers/basic_setting/contact.js')
  script(src='/scripts/controllers/basic_setting/category_maintenance.js')
  script(src='/scripts/controllers/basic_setting/inventory.js')
  script(src='/scripts/controllers/basic_setting/tax_rate.js')
  script(src='/scripts/controllers/basic_setting/assist_account.js')
  script(src='/scripts/controllers/basic_setting/expense_account_setting.js')
  script(src='/scripts/controllers/business_manage/bill_list.js')
  script(src='/scripts/controllers/business_manage/bill.js')
  script(src='/scripts/controllers/business_manage/invoice_list.js')
  script(src='/scripts/controllers/business_manage/invoice.js')
  script(src='/scripts/controllers/business_manage/sales_list.js')
  script(src='/scripts/controllers/business_manage/sales.js')
  script(src='/scripts/controllers/business_manage/receivables.js')
  script(src='/scripts/controllers/business_manage/receivables_list.js')
  script(src='/scripts/controllers/business_manage/petty_cash_list.js')
  script(src='/scripts/controllers/business_manage/expense_account_list.js')
  script(src='/scripts/controllers/business_manage/expense_account.js')
  script(src='/scripts/controllers/business_manage/receipt.js')
  script(src='/scripts/controllers/business_manage/petty_cash.js')
  script(src='/scripts/controllers/business_manage/advance_payment.js')
  script(src='/scripts/controllers/financial_manage/account_posting.js')
  script(src='/scripts/controllers/financial_manage/bank_reconciliations.js')
  script(src='/scripts/controllers/financial_manage/category.js')
  script(src='/scripts/controllers/financial_manage/detail_account.js')
  script(src='/scripts/controllers/financial_manage/checkout.js')
  script(src='/scripts/controllers/financial_manage/deal.js')
  script(src='/scripts/controllers/financial_manage/receivable.js')
  script(src='/scripts/controllers/financial_manage/fixed_asset.js')
  script(src='/scripts/controllers/financial_manage/purchase_order_classification.js')
  script(src='/scripts/controllers/financial_manage/voucher_list.js')
  script(src='/scripts/controllers/financial_manage/assistant_account.js')
  script(src='/scripts/controllers/financial_manage/voucher.js')
  script(src='/scripts/controllers/financial_manage/cashier_pay.js')
  script(src='/scripts/controllers/initialize/choice_entrance.js')
  script(src='/scripts/controllers/initialize/setting_category.js')
  script(src='/scripts/controllers/initialize/setting_category_balance.js')
  script(src='/scripts/controllers/initialize/setting_company.js')
  script(src='/scripts/controllers/initialize/setting_finish.js')
  script(src='/scripts/controllers/reports/accoundant.js')
  script(src='/scripts/controllers/reports/financial.js')
  script(src='/scripts/controllers/reports/asset_liability.js')
  script(src='/scripts/controllers/reports/cash_flow.js')
  script(src='/scripts/controllers/reports/profit.js')
  script(src='/scripts/controllers/template/account_info.js')
  script(src='/scripts/controllers/template/account_invitation.js')
  script(src='/scripts/controllers/template/approve_deny.js')
  script(src='/scripts/controllers/template/approve_deny_petty_cash.js')
  script(src='/scripts/controllers/template/approve_deny_voucher.js')
  script(src='/scripts/controllers/template/attachment_list.js')
  script(src='/scripts/controllers/template/confirm.js')
  script(src='/scripts/controllers/template/level_one_category_list.js')
  script(src='/scripts/controllers/template/new_contact.js')
  script(src='/scripts/controllers/template/service-category-new.js')
  script(src='/scripts/controllers/template/new_inventory.js')
  script(src='/scripts/controllers/template/new_sub_category.js')
  script(src='/scripts/controllers/template/new_tax_rate.js')
  script(src='/scripts/controllers/template/switch_company.js')
  script(src='/scripts/controllers/template/new_company.js')
  script(src='/scripts/controllers/template/new_department.js')
  script(src='/scripts/controllers/template/new_category.js')
  script(src='/scripts/controllers/template/assist_account.js')
  script(src='/scripts/controllers/template/confirm_delete.js')
  script(src='/scripts/controllers/template/edit_categoryType.js')
  script(src='/scripts/controllers/template/reverse_message.js')
  script(src='/scripts/controllers/template/confirm_voucher.js')
  script(src='/scripts/controllers/template/ToDoListController.js')
  script(src='/scripts/controllers/template/reorder_voucher.js')
  //-<!-- endbuild -->
