doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='renderer', content='webkit')
		title 管+
		//-<!-- build:css(client) /styles/lib.css -->
		// bower:css
		link(rel='stylesheet', href='/bower_components/angular-ui-select/dist/select.css')
		link(rel='stylesheet', href='/bower_components/metisMenu/dist/metisMenu.css')
		link(rel='stylesheet', href='/bower_components/animate/animate.css')
		// endbower
		//-<!-- endbuild -->
		//-<!-- build:css({.tmp,client}) /styles/main.css -->
		link(rel='stylesheet', href='/styles/main-new.css')
		//-<!-- endbuild -->
	body(ng-app='concordyaApp')
		style.
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			display: none !important;
			}
		include loader
		include splash.html
		#wrapper(ng-cloak)
			include left-nav
			#page-wrapper.gray-bg
				include top-nav
				block main-content

		block ng-include
		//-<!-- build:js(client) /scripts/main-vendor.js -->
		// bower:js
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/angular/angular.js')
		script(src='/bower_components/angular-animate/angular-animate.js')
		script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
		script(src='/bower_components/angular-cookies/angular-cookies.js')
		script(src='/bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js')
		script(src='/bower_components/angular-messages/angular-messages.js')
		script(src='/bower_components/angular-resource/angular-resource.js')
		script(src='/bower_components/angular-sanitize/angular-sanitize.js')
		script(src='/bower_components/angular-translate/angular-translate.js')
		script(src='/bower_components/messageformat/messageformat.js')
		script(src='/bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js')
		script(src='/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js')
		script(src='/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js')
		script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
		script(src='/bower_components/angular-ui-select/dist/select.js')
		script(src='/bower_components/echarts/build/source/echarts-all.js')
		script(src='/bower_components/lodash/lodash.js')
		script(src='/bower_components/moment/moment.js')
		script(src='/bower_components/ng-file-upload/angular-file-upload.js')
		script(src='/bower_components/metisMenu/dist/metisMenu.js')
		script(src='/bower_components/slimScroll/jquery.slimscroll.min.js')
		script(src='/bower_components/PACE/pace.js')
		// endbower
		//-<!-- endbuild -->

		include utils
		
		include server-script
		block scripts
