<div class="modal-header" ng-cloak>
  <i class="fa fa-times close" ng-click="cancel()"></i>
  <h4 ng-if="!isForward" class="modal-title" translate="SUBMIT_APPROVE.REJECT_TITLE"></h4>
  <h4 ng-if="isForward" class="modal-title" translate="转发"></h4>
</div>
<div class="modal-body" ng-keydown="enterKeyDown($event)">
  <div class="alert-group">
    <div class="alert alert-success modal-alert" ng-show="message.modalSuccess" ng-bind="message.modalSuccess"></div>
    <div class="alert alert-danger modal-alert" ng-show="message.modalError" ng-bind="message.modalError"></div>
  </div>
  <form class="form-horizontal" name="approveForm" novalidate>
    <div class="form-group">
      <label for="reason" class="control-label col-md-2" translate="SUBMIT_APPROVE.REJECT_REASON"></label>
      <div class="col-md-8">
        <textarea class="form-control" id="reason" name="reason" ng-model="reason" rows="3" required></textarea>
      </div>
      <div class="col-md-10 col-md-offset-2 error-message" ng-messages="approveForm.reason.$untouched || approveForm.reason.$error">
        <div ng-messages-include="views/_form_error_messages.html"></div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="save(approveForm)">
      <i class="fa fa-floppy-o"></i> 保存
  </button>
  <button class="btn btn-default" type="button" translate="COMMON.CANCEL" ng-click="cancel()"></button>
</div>
