<div class="modal-forgotpwd-wrapper">
  <div style="position: relative;width:100%;height: 230px;text-align:center; padding: 25px 0;color:#787878;" ng-if="initialPage">
    <i ng-click="cancel()" class="fa fa-times fa-lg close" style="position: absolute;right:20px;top:15px;cursor: pointer;"></i>
    <h1 style="font-size: 16px;line-height: 18px;font-weight: 700;margin-bottom: 10px;">无法登录</h1>
    <div>我们提供两种方式帮助你重新登录管＋</div>
    <div class="button-wrapper">
      <div class="row" style="margin: 20px 0px;">
        <button ng-click="gotofindByEmail()" style="height: 35px; border-radius: 3px; outline: 0;" class="btn btn-default">通过邮箱找回密码</button>
      </div>
      <div class="row" style="margin: 20px 0px;">
        <button ng-click="gotoFindByPhone()" style="height: 35px; border-radius: 3px;outline: 0;" class="btn btn-default">通过手机找回密码</button>
      </div>
    </div>
  </div>
  <div style="width:100%;text-align:center; padding: 25px 0;color:#787878;" ng-if="showEmailPage">
    <i ng-click="cancel()" class="fa fa-times fa-lg" style="position: absolute;right:20px;top:15px;cursor: pointer;"></i>
    <i ng-click="backtoHome()" class="fa fa-arrow-circle-o-left fa-lg" style="position: absolute;left:20px;top:15px;cursor: pointer;"></i>
    <div style="text-align: center;line-height:1;">
      <h1 style="font-size: 16px;line-height: 18px;font-weight: 700;margin-bottom: 10px;">邮箱找回密码</h1>
      <h2 style="font-size:14px;font-weight: 400;">邮箱链接将会发送到你的注册邮箱</h2>
    </div>
    <div style="text-align: center; width: 315px; margin: 30px auto">
      <form novalidate="novalidate" name="emailForm">
        <div class="input-wrapper" style="border-top:1px solid #eee;border-bottom:1px solid #eee; margin-bottom: 20px">
          <input ng-model="user.email" style="text-align: center; width: 100%;padding:15px 8px;height: 48px;font-size:14px;line-height: 18px;color:#787878;border:0;outline: 0;box-sizing: border-box;" type="text" name="emailAddress" placeholder="请输入你的邮箱" required>
        </div>
        <div class="input-wrapper" id="captcha_email" style="margin:20px 0 20px 10px;"></div>
        <div class="emailMsgTip" ng-if="emailMsgTip" style="color: #cc3300; text-align: left; margin-left:10px;">{{emailMsgTip}}</div>
        <div class="emailMsgTip" ng-if="emailMsgTipSuccess" style="color: #4BCC4B; text-align: left; margin-left:10px;">{{emailMsgTipSuccess}}</div>
        <button ng-click="getEmailVerifyLink()" class="btn btn-primary">发送邮箱链接</button>
      </form>
    </div>
  </div>

  <div style="width:100%;text-align:center; padding: 25px 0;color:#787878;" ng-if="showPhonePage">
    <i ng-click="cancel()" class="fa fa-times fa-lg" style="position: absolute;right:20px;top:15px;cursor: pointer;"></i>
    <i ng-click="backtoHome()" class="fa fa-arrow-circle-o-left fa-lg" style="position: absolute;left:20px;top:15px;cursor: pointer;"></i>
    <div style="text-align: center;line-height:1;">
      <h1 style="font-size: 16px;line-height: 18px;font-weight: 700;margin-bottom: 10px;">手机找回密码</h1>
      <h2 style="font-size:14px;font-weight: 400;">手机验证码将会发送到你的手机</h2>
    </div>
    <div style="position: relative;text-align: center; width: 315px; margin: 30px auto">
      <form novalidate="novalidate" name="phoneForm" class="text-center">
        <div class="input-wrapper" style="border-top:1px solid #eee;border-bottom:1px solid #eee;">
          <input ng-model="user.phone" class="text-center" style="width: 100%;padding:15px 8px;height: 48px;font-size:14px;line-height: 18px;color:#787878;border:0;outline: 0;box-sizing: border-box;" type="text" name="uPhone" placeholder="手机号" required>
        </div>
        <div class="input-wrapper" ng-if="showCaptcha">
          <div id="captcha_phone" style="margin:20px 0 10px 10px;"></div>
        </div>
        <div class="input-wrapper" style="border-bottom:1px solid #eee;" ng-if="showCode">
          <input ng-model="user.verifyCode"  class="text-center" style="width: 100%;padding:15px 8px;height: 48px;font-size:14px;line-height: 18px;color:#787878;border:0;outline: 0;box-sizing: border-box;" type="text" name="verifyCode" placeholder="验证码" required>
        </div>
        <div class="input-wrapper" style="border-bottom:1px solid #eee;" ng-if="showPwd">
          <input ng-model="user.password"  class="text-center" style="width: 100%;padding:15px 8px;height: 48px;font-size:14px;line-height: 18px;color:#787878;border:0;outline: 0;box-sizing: border-box;" type="password" name="uPwd" placeholder="新密码(至少8位, 必须包含一个大小写字母和数字)" required>
        </div>
        <div class="input-wrapper" style="border-bottom:1px solid #eee;" ng-if="showPwdConfirm">
          <input ng-model="user.confrimPassword"  class="text-center" style="width: 100%;padding:15px 8px;height: 48px;font-size:14px;line-height: 18px;color:#787878;border:0;outline: 0;box-sizing: border-box;" type="password" name="uPwdConfirm" placeholder="确认新密码" required>
        </div>
        <div class="phoneMsgTip" ng-if="phoneMsgTip" style="color: #cc3300; text-align: left; margin-left:10px;">{{phoneMsgTip}}</div>
        <div class="phoneMsgTip" ng-if="phoneMsgTipSuccess" style="color: #4BCC4B; text-align: left; margin-left:10px;">{{phoneMsgTipSuccess}}</div>
        <div style="margin-top:20px">
          <button class="btn btn-primary" ng-disabled="!captcha_phone_passed" ng-click="getVerifyCode(user.phone)" ng-if="!disabled">获取验证码</button>
          <button ng-if="disabled" ng-disabled="disabled" class="btn btn-primary">重新发送({{currentCount}})</button>
          <button ng-click="modifyPwd()" ng-if="showConfirmBtn" class="btn btn-primary">确认修改密码</button>
        </div>
      </form>

    </div>

  </div>

</div>
