<div ng-message="required">
  <span translate="COMMON.ERROR_MESSAGE_REQUIRED"></span>
</div>
<div ng-message="minlength">
  <span translate="COMMON.ERROR_MESSAGE_INVALID_MINLENGTH"></span>
</div>
<div ng-message="maxlength">
  <span translate="COMMON.ERROR_MESSAGE_INVALID_MAXLENGTH"></span>
</div>
<div ng-message="integer">
  <span translate="COMMON.ERROR_MESSAGE_INVAILD_INTEGER"></span>
</div>
<div ng-message="decimal">
  <span translate="COMMON.ERROR_MESSAGE_INVAILD_DECIMAL"></span>
</div>
<div ng-message="email">
  <span translate="COMMON.ERROR_MESSAGE_INVAILD_EMAIL"></span>
</div>
<div ng-message="phone">
  <span translate="COMMON.ERROR_MESSAGE_INVAILD_PHONE"></span>
</div>
<div ng-message="username">
  <span translate="COMMON.ERROR_MESSAGE_INVAILD_USERNAME"></span>
</div>
