<div class="row">
  <div class="col-lg-12 m-t-sm">
    <div class="alert alert-success no-margins" role="alert" ng-if="message.success">
      <!-- <button type="button" class="close" ng-click="message.success = ''"><span aria-hidden="true">&times;</span></button> -->
      {{message.success}}
    </div>
    <div class="alert alert-danger no-margins" role="alert" ng-if="message.error">
      <!-- <button type="button" class="close" ng-click="message.error = ''"><span aria-hidden="true">&times;</span></button> -->
      {{message.error}}
    </div>
  </div>
</div>
